@use "../../sass/colors" as c;

.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    background-color: c.$color_bg_header;
    overflow: hidden;
    padding: 0px 20px 20px 20px;
    transition: transform 250ms;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 7px 10px c.$color_hover_card;
        cursor: pointer;
    }
}

.container__image {
    display: flex;
    justify-content: center;
    height: 60%;
}

.image {
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.titre {
    padding: 20px 0px 20px 0px;
}

h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container__starsAndEditors {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 0px;
    gap: 5px;
}

.stars {
    display: flex;
}

span {
    justify-content: center;
}

.container__button {
    display: flex;
    gap: 16px;
}

.favoriteButton {
    flex-grow: 1;
}

.addButton {
    flex-grow: 3;
}