@use "../../sass/colors" as c;

.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    border-radius: 10px;
    background-color: c.$color_bg_header;
    overflow: hidden;
}
.container__image {
    display: flex;
    justify-content: center;
    height: 60%;
}

.image {
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.titre {
    padding: 10px;
}

.container__starsAndEditors {
    display: flex;
    align-items: center;
}

.stars {
    display: flex;
    padding: 10px;


}

span {
    justify-content: center;
}