

$color_text: #ECEFF4;
$color_button:  #4562F0;
$color_icone: #ECEFF4;
$color_placeholder: #eceff4a3;
$color_star: #F9D54A;
$color_price: #AECE42;
$color_bg_content: #0D112B;
$color_bg_input_search: #313a67;;
$color_bg_header: #1B2248;
$color_date: #7BC0EF;
$color_danger: #EC544E;


