

$color_text: #ECEFF4;

$color_bg_button:  #4562F0;
$color_bg_hover_button:  #ECEFF4;
$color_text_button: #ECEFF4;
$color_text_hover_button: #EC544E;

$color_hearth: #ECEFF4;
$color_hover_hearth: #EC544E;

$color_icone: #ECEFF4;
$color_placeholder: #eceff4a3;
$color_star: #F9D54A;
$color_price: #AECE42;
$color_bg_content: #0D112B;
$color_bg_input_search: #313a67;;
$color_bg_header: #181d3a;
$color_date: #7BC0EF;



