@use '../../sass/colors' as c;

.input {
    width: 250px;
    height: 35px;
    padding: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: none;
    background-color: c.$color_bg_input_search;
    color: c.$color_text;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: c.$color_placeholder;
    }
}


.btn {
    width: 40px;
    height: 35px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
    background-color: c.$color_bg_button;
}