@use "../../sass/colors" as c;

.container {
    z-index: 1;
}

.container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.img {
    height: 32px;
    width: 32px;
}

.menu {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}