@use "./sass/colors" as c;

.container {
    height: 100%;
}

.container__content {
    padding: 90px 30px 0 110px;
    background-color: c.$color_bg_content;
    color: c.$color_text;
}

.container__carousel {
    margin-bottom: 80px;
  
}

h1 {
    font-family: "San Francisco Bold", sans-serif;
}

