@use "./sass/colors" as c;
@font-face {
    font-family: "San Francisco bold";
    src: url("./font/SF-Pro-Display-Bold.ttf");
}

.container {
    height: 100%;
    
    h1 {
        font-family: "San Francisco bold";
    }
}

.container_content {
    padding: 90px 30px 0 110px;
    background-color: c.$color_bg_content;
    color: c.$color_text;
}

.logo {
    width: 35px;
}


.container_carousel {
    margin-bottom: 80px;
}
