@use "./sass/colors" as c;
@font-face {
  font-family: "San Francisco Bold";
  src: url("./font/sf-pro-display-bold.woff2");

  font-family: "San Francisco Medium";
  src: url("./font/sf-pro-display-medium.woff2");

  font-family: "San Francisco Regular";
  src: url("./font/sf-pro-display-regular.woff2");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', ' ',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','San Francisco Bold', 'San Francisco Medium', 'San Francisco Regular',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
